* {
    background-color: #2b3b56;
    font-family: Tahoma;
}

h1 {
    text-align:center;
}

h1 img{
    width: 30%;
    height: 30%;
}

h2 {
    color: #797e84;
    text-align: center;
    margin-bottom: 50px;
}

hr{
border:none;
 border-top:1px dashed #797e84;
 height:1px;
 width:100%;
 margin-bottom:20px;
}


ul.visitors{
    text-align: center;
    margin: 0 auto;
    
}

li{
    display:inline-block;
    text-align: center;
    border: 2px solid #9a9fa8;
    vertical-align: center;
    padding: 10px;
    color: white;
        font-weight: bold;
}

li img{
    width: 20px;
    height: 20px; 
    vertical-align: center;
    
}

.color-block{
    margin-top: 150px;
    margin-bottom: 150px;
    
}

.color{
   
    display:inline-block;
    width: 11%;
    height: 500px;
    border-radius: 25px;
    margin-right: 35px;
    vertical-align: top;
    border:none;

}

p img{
 width: 20px;
 height: 20px;

}

#pink{
    background-color:#db06e2;
    height: 605px;
}

#orange{
    background-color: #ed9d09;
    height: 650px;
}

#yellow{
    background-color: #efd807;
    height: 550px;
}

#green{
    background-color: #129689;
    height: 800px;
}

#blue{
    background-color: #0aa9d1;
}
#purple{
    background-color: #ac6fe2;
}

footer{
    text-align: center;
    color: #797e84;
    font-size: 2em;

}

span{
    color: white;
    font-size: em;
}

footer img{
    height: 60px;
    width:60px;
}